<%= form_with model: [ @topic, @topic.posts.build ] do |form| %>
  <div class="field form-group">
    <%= form.text_area :content, class:"form-control" %>
  </div></br>
  <p>
    <%= form.submit class:'btn btn-dark'%>
  </p>
<% end %>
