<p>
  <strong>Content:</strong>
  <%= post.content %>
</p>
<p>
  <%= link_to 'Destroy Post', [post.topic, post],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
