<p>

  <%= post.content %>
  (<%= @topic.title %>)
</br>
<% if post.ratings.count.zero? %>
  <h6>Not Rated Yet</h6>
  <% else %>
  <h6>Rated <%= post.ratings.average(:rate) %></h6>
  <% end %>
</p>

<p>
  <%= link_to 'Read the Post', [post.topic, post], class: "btn btn-primary" %>
</p>


<!--<script type= "text/javascript">-->
<!--  $(document).ready(function () {-->
<!--      if(!(<%#= current_user.read_post_ids.include? @post.id %>)) {-->
<!--          $ajax({-->
<!--              url: "/<%#= @topic.id%>/post/<%#= @post.id %>/mark_read",-->
<!--              type: "POST",-->
<!--              date: {},-->
<!--              complete: function (resp) {-->

<!--              }-->
<!--          });-->
<!--      }-->
<!--  });-->
<!--</script>-->
