</br>
<div class="container">
<h3><%= @post.content %></h3>

  </br>
<%= link_to "Edit", edit_topic_post_path, class: "btn btn-secondary" %>
<%= link_to 'Delete Post', topic_post_path(@topic, @post),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </br>
</br>
  <%= render 'comments/form', comment: @post.comments.build %>

</div>
